<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'Quote_Dash_Favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bodyColor">
    <div id="POST_NEW_MESSAGE_CONTAINER">
        
        <form action="/process_edit_message/{{message.id}}" method="POST">
            {% csrf_token %}
            <!-- removed placeholder="" -->
            <textarea name="process_edit_message" id="textarea_edit_message" rows="3">{{message.message}}</textarea><br><br>
            <button type="submit" class="BUTTONZ">Post Message Edit</button>
        </form>
        <div id="BUTTON_lineUP"><button type="submit" onclick="history.back()" class="BUTTONZ">Cancel</button></div>
        
    </div>
</body>
</html>