<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="headerCon">
    <form action="/process_edit_book/{{book.id}}" method="POST">
        {% csrf_token %}
        <label for="book_title">Author:</label>
        <input type="text" name="book_title_edit" class="form-control" value="{{ book.book_title }}"> <br><br>
        <label for="book_title">Quote:</label>
        <textarea name="book_description_edit" cols="40" rows="3" placeholder="{{book.book_description}}"></textarea><br><br>
        <div><label id="lineUP">Added by:</label><label id="lineUP"> {{book.book_uploaded_by.first_name}} {{book.book_uploaded_by.last_name}} on {{book.created_at}}</label></div><br>
        <button type="submit">Save Quote Edits</button>
    </form>
    <button type="submit" onclick="history.back()">Cancel Changes</button>
    </div>
</body>
</html>