<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'Quote_Dash_Favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <center><title>Congratulations {{user.first_name}} {{user.last_name}}!  You're in!</title></center>
</head>
<body class="bodyColor">
    {% if messages %}
    <div class="headerCon">
    <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
   
    <div class="headerCon">
        <center><img class='OUTLINE' src="{% static 'images/Quote_Dash_Icon_100px.png' %}"></center>
        <center><h1>Your new profile has been created!</h1></center>
        <center><h2>Welcome to Quote Dash.</h2></center>
            <div class="user_Profile_WhiteHighlight_CON">    
                <h3>Your Account name:</h3>
                <h2>{{user.user_name}}</h2>
                <h3>First name:</h3>
                <h2>{{user.first_name}}</h2>
                <h3>Last name:</h3>
                <h2>{{user.last_name}}</h2>
                <h3>Account linked email address:</h3>
                <h2>{{user.email_address}}</h2>
            </div>
            <center><div>
            <form action="/edit_my_profile" method="GET" id="lineUP">
                {% csrf_token %}
            <button class="BUTTONZ">Edit Your Profile</button>
            </form>
            <form action="/logout" method="POST" id="lineUP">
                {% csrf_token %}
            <button class="BUTTONZ">Log Off</button>
            </form>
            </div></center>
    </div>

    <center><div class="headerCon">
        <h2>Post your first forum message here!</h2>
        <form action="/post_message" method="POST">
            {% csrf_token %}
            <textarea name="post_message" id="" cols="40" rows="4"></textarea><br><br>
        <button type="submit" class="BUTTONZ">Post First Message</button>
        </form>
    </div></center>
</body>
</html>

